EmployeeWebServiceClient/EmployeeWebServiceClient/Connected Services/EmployeeServiceReference/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd2" namespace="https://yazilimalani.com/2023/03/03/Employee" />
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/EmployeeWebService" />
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd3" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EmployeeRequest">
    <wsdl:part xmlns:q1="https://yazilimalani.com/2023/03/03/Employee" name="parameters" element="q1:EmployeeRequestObject" />
  </wsdl:message>
  <wsdl:message name="EmployeeRequest_Headers">
    <wsdl:part xmlns:q2="https://yazilimalani.com/2023/03/03/Employee" name="LicenseKey" element="q2:LicenseKey" />
  </wsdl:message>
  <wsdl:message name="EmployeeInfo">
    <wsdl:part xmlns:q3="https://yazilimalani.com/2023/03/03/Employee" name="parameters" element="q3:EmployeeInfoObject" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_OutputMessage" />
  <wsdl:message name="IEmployeeService_GetEmployeeNameById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeNameById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeNameById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeNameByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployee" name="EmployeeRequest" message="tns:EmployeeRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeResponse" name="EmployeeInfo" message="tns:EmployeeInfo" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployee" name="EmployeeInfo" message="tns:EmployeeInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployeeResponse" message="tns:IEmployeeService_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeNameById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeNameById" message="tns:IEmployeeService_GetEmployeeNameById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeNameByIdResponse" message="tns:IEmployeeService_GetEmployeeNameById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployee" style="document" />
      <wsdl:input name="EmployeeRequest">
        <soap:header message="tns:EmployeeRequest_Headers" part="LicenseKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmployeeInfo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/SaveEmployee" style="document" />
      <wsdl:input name="EmployeeInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeNameById">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:8086/EmployeeWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>